* {
  /* background-color:; */
}

h1 {
  color: darkblue;
  font-family: Black Ops One;
  font-size: 25px;
  font-weight: bold;
}

.header {
  text-align: center;
}

.searchbar {
  background-color: black;
}
#search {
  width: 90%;
}
