<!-- homepage -->
<div class="container">

  <div class="header">
    <h1>
    <img src="src/assets/gh1.png" width="200"><br>
    GITHUB
  </h1>
  </div>

  <div class="row">
    <div clas="col-md-6">

    <div class="card">
      <div class="card-header">
        My Repositories
      </div>
      <br>
      <div class="card-body">
        <a href="https://github.com/Nancy-Muthinzi/My-Portfolio">My Portfolio</a><br>
        <a href="https://github.com/Nancy-Muthinzi/ip2">Anita's Kitchen</a><br>
        <a href="https://github.com/Nancy-Muthinzi/ip3">Ping Pong</a><br>
        <a href="https://github.com/Nancy-Muthinzi/ip4">Pig Dice</a><br>
        <a href="https://github.com/Nancy-Muthinzi/ip1/Quotes">Quotes</a>
      </div>
      <!-- <div class="card-footer"><a href="showmore">Show more ...</a></div> -->
    </div>
  </div>

    <div class="col-md-6">
    </div>
  </div>

</div>
