<!-- homepage -->
<div class="container">

  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <img src="../assets/gh-profile.png" alt="me" style="width=100%">
        <h2><a href="https://github.com/Nancy-Muthinzi">Nancy Muthinzi</a></h2>
        <p class="title">Student</p>
        <p><a href="https://moringaschool.com/">Moringa School</a></p>
        <p><button>Contact</button></p>
      </div>


    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <div class="card">
      <div class="card-header">
        My Repositories
      </div>
      <br>
      <div class="card-body">
        <a href="https://github.com/Nancy-Muthinzi/My-Portfolio">My Portfolio</a><br>
        <a href="https://github.com/Nancy-Muthinzi/ip2">Anita's Kitchen</a><br>
        <a href="https://github.com/Nancy-Muthinzi/ip3">Ping Pong</a><br>
        <a href="https://github.com/Nancy-Muthinzi/ip4">Pig Dice</a><br>
        <a href="https://github.com/Nancy-Muthinzi/ip1/Quotes">Quotes</a>
      </div>
    </div>
    </div>

  </div>
</div>
